<div>这里是 Angular app</div>
<hr>
<!-- <myc01></myc01> -->
<h2>核心一: 绑定</h2>
<!-- html绑定 {{}}  -->
<app-myc02></app-myc02>
<!-- 事件绑定 (click)/on-click -->
<app-myc03></app-myc03>
<h2>核心二: 指令</h2> 
<!-- 指令: ngfor -->
<app-myc04-ngfor></app-myc04-ngfor>
<!-- 指令: ngstyle/ngclass -->
<app-myc05-ngstyle></app-myc05-ngstyle>
<!-- 指令: ngswitch -->
<app-myc06-ngswitch></app-myc06-ngswitch>
<!-- 指令: ngmodel -->
<app-myc07-ngmodel></app-myc07-ngmodel>

<!-- 练习 todolist emplist -->
<app-testcomponent></app-testcomponent>

<br><br><br><br><br><br><br><br>

