
/*1.变量*/
$jd_red: #f10215;
$my-width:100px;
$my-style:dotted;
$my-word:"abc";
$my-border:$my-width $my-style $jd_red;
div::after{
  $my-word:"jqk" !default;
  $my-heigth:100px;
  content: $my-word;
  border: $my-border;
  height: $my-heigth;
}
div{
  //height: $my-heigth;   作用域错误
  color:$jd_red;
  background: #123;
  width: $my-width;
}
p{
  border:1px $my-style #00f;
}