<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-if</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <div>
      <h1 v-if="isLogin==false">
        <a href="javascript:;" @click="login">登录</a>|
        <a href="javascript:;">注册</a>
      </h1>

      <h1 v-else>
        Welcom dingding,
        <a href="javascript:;" @click="logout">注销</a>
      </h1>

      <div v-if="type=='A'">A</div>
      <div v-else-if="type=='B'">B</div>
      <div v-else-if="type=='C'">C</div>
      <div v-else>others</div>
      <br>

      <div>
        <img src="img/1.png" v-if="pm25<100">
        <img src="img/2.png" v-else-if="pm25<200">
        <img src="img/3.png" v-else-if="pm25<300">
        <img src="img/4.png" v-else>
      </div>
    </div>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        isLogin: false,
        type: "B",
        pm25: 168,
      },
      methods: {
        login() {
          alert("登录成功");
          this.isLogin = true;
        },
        logout() {
          this.isLogin = false;
        }
      }
    });
    console.log(vm);
    console.log(vm.pm25);
    console.log(vm.pm25);
    setInterval(function () {
      var pm25 = Math.floor(Math.random() * 400);
      vm.pm25 = pm25;

    }, 2000);
  </script>
</body>

</html>